@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

header,
footer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  align-self: center;
  display: flex;
  flex-direction: column;
}

main * {
  align-self: center;
  margin: 5px;
}

button {
  padding: 8px;
}

footer {
  background-color: #eee;
}

.left-links,
.right-links {
  display: flex;
  justify-content: space-between;
}

li {
  padding: 5px;
  list-style: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
